
## <p style="text-align: center;">**Airline On Time Performance**</p>
### <p style="text-align: center;">**Matt Keeran**<br><br>9/24/19</p>

In [6]:
import pandas as pd

In [4]:
!ls

 Airline_On_Time_Performance    README.md
 Bike-Sharing-Dataset	        SF_Resturant_Scores
'GTRI Airline Arrivals.ipynb'

In [5]:
!ls Airline_On_Time_Performance/

Airline_On_Time_Performance.csv  Airline_On_Time_Performance_ReadMe.csv

In [8]:
%time data = pd.read_csv('Airline_On_Time_Performance/Airline_On_Time_Performance.csv')
data.info()

CPU times: user 3.61 s, sys: 184 ms, total: 3.8 s
Wall time: 3.56 s
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 638649 entries, 0 to 638648
Data columns (total 50 columns):
YEAR                      638649 non-null int64
MONTH                     638649 non-null int64
DAY_OF_MONTH              638649 non-null int64
DAY_OF_WEEK               638649 non-null int64
FL_DATE                   638649 non-null object
MKT_UNIQUE_CARRIER        638649 non-null object
MKT_CARRIER_AIRLINE_ID    638649 non-null int64
MKT_CARRIER_FL_NUM        638649 non-null int64
OP_UNIQUE_CARRIER         638649 non-null object
TAIL_NUM                  633964 non-null object
OP_CARRIER_FL_NUM         638649 non-null int64
ORIGIN_AIRPORT_ID         638649 non-null int64
ORIGIN_AIRPORT_SEQ_ID     638649 non-null int64
ORIGIN_CITY_MARKET_ID     638649 non-null int64
ORIGIN                    638649 non-null object
ORIGIN_CITY_NAME          638649 non-null object
ORIGIN_STATE_ABR          638649 non-null object
DEST_AIRPORT_ID           638649 non-null int64
DEST_AIRPORT_SEQ_ID       638649 non-null int64
DEST_CITY_MARKET_ID       638649 non-null int64
DEST                      638649 non-null object
DEST_CITY_NAME            638649 non-null object
DEST_STATE_ABR            638649 non-null object
DEST_STATE_FIPS           638649 non-null int64
DEST_STATE_NM             638649 non-null object
DEST_WAC                  638649 non-null int64
CRS_DEP_TIME              638649 non-null int64
DEP_TIME                  619550 non-null float64
DEP_DELAY                 619547 non-null float64
DEP_DELAY_NEW             619547 non-null float64
DEP_DEL15                 619547 non-null float64
TAXI_OUT                  619253 non-null float64
WHEELS_OFF                619253 non-null float64
WHEELS_ON                 618710 non-null float64
TAXI_IN                   618710 non-null float64
CANCELLED                 638649 non-null float64
CANCELLATION_CODE         19550 non-null object
DIVERTED                  638649 non-null float64
DUP                       638649 non-null object
FLIGHTS                   638649 non-null float64
DISTANCE                  638649 non-null float64
CARRIER_DELAY             117144 non-null float64
WEATHER_DELAY             117144 non-null float64
NAS_DELAY                 117144 non-null float64
SECURITY_DELAY            117144 non-null float64
LATE_AIRCRAFT_DELAY       117144 non-null float64
DIV_AIRPORT_LANDINGS      638649 non-null int64
DIV_ARR_DELAY             1061 non-null float64
DIV_DISTANCE              1450 non-null float64
Unnamed: 49               0 non-null float64
dtypes: float64(20), int64(17), object(13)
memory usage: 243.6+ MB

In [96]:
len(data['CANCELLATION_CODE'])

638649

## **TODO:**
1. ADD # NONNULL, #TOTAL, %NONNULL
2. Write the schema details to a file in addition to printing it

In [97]:
"{:,}".format(len(data['CANCELLATION_CODE']))

'638,649'

In [85]:
schema = pd.read_csv('Airline_On_Time_Performance/Airline_On_Time_Performance_ReadMe.csv')
schema.head()

  SYS_FIELD_NAME              FIELD_DESC  Unnamed: 2
0           YEAR                    Year         NaN
1          MONTH                   Month         NaN
2   DAY_OF_MONTH            Day of Month         NaN
3    DAY_OF_WEEK             Day of Week         NaN
4        FL_DATE  Flight Date (yyyymmdd)         NaN

In [86]:
list(schema.columns)

['SYS_FIELD_NAME', ' FIELD_DESC', 'Unnamed: 2']

In [87]:
schema.drop('Unnamed: 2', axis=1, inplace=True)
schema.columns = ['Field', 'Description']
schema.head()

          Field             Description
0          YEAR                    Year
1         MONTH                   Month
2  DAY_OF_MONTH            Day of Month
3   DAY_OF_WEEK             Day of Week
4       FL_DATE  Flight Date (yyyymmdd)

In [95]:
print("SCHEMA:\n------------------------------------------------------------------------------------------------------------------------------------------------------------")
for index, row in schema.iterrows():
    print(row['Field'] + ':\t' + str(type(data[row['Field']].iloc[0])))
    print(row['Description'] + '\n')
    print(str(data[row['Field']].iloc[0]))
    print('\n---------------------------------------------------------------------------------------------------------------------------------------------------------------')

SCHEMA:
------------------------------------------------------------------------------------------------------------------------------------------------------------
YEAR:	<class 'numpy.int64'>
Year

2019

---------------------------------------------------------------------------------------------------------------------------------------------------------------
MONTH:	<class 'numpy.int64'>
Month

1

---------------------------------------------------------------------------------------------------------------------------------------------------------------
DAY_OF_MONTH:	<class 'numpy.int64'>
Day of Month

19

---------------------------------------------------------------------------------------------------------------------------------------------------------------
DAY_OF_WEEK:	<class 'numpy.int64'>
Day of Week

6

---------------------------------------------------------------------------------------------------------------------------------------------------------------
FL_DATE:	<class 'str'>
Flight Date (yyyymmdd)

2019-01-19

---------------------------------------------------------------------------------------------------------------------------------------------------------------
MKT_UNIQUE_CARRIER:	<class 'str'>
Unique Marketing Carrier Code. When the same code has been used by multiple carriers, a numeric suffix is used for earlier users, for example, PA, PA(1), PA(2). Use this field for analysis across a range of years.

DL

---------------------------------------------------------------------------------------------------------------------------------------------------------------
MKT_CARRIER_AIRLINE_ID:	<class 'numpy.int64'>
An identification number assigned by US DOT to identify a unique airline (carrier). A unique airline (carrier) is defined as one holding and reporting under the same DOT certificate regardless of its Code, Name, or holding company/corporation.

19790

---------------------------------------------------------------------------------------------------------------------------------------------------------------
MKT_CARRIER_FL_NUM:	<class 'numpy.int64'>
Flight Number

5245

---------------------------------------------------------------------------------------------------------------------------------------------------------------
OP_UNIQUE_CARRIER:	<class 'str'>
Unique Carrier Code. When the same code has been used by multiple carriers, a numeric suffix is used for earlier users, for example, PA, PA(1), PA(2). Use this field for analysis across a range of years.

9E

---------------------------------------------------------------------------------------------------------------------------------------------------------------
TAIL_NUM:	<class 'str'>
Tail Number

N176PQ

---------------------------------------------------------------------------------------------------------------------------------------------------------------
OP_CARRIER_FL_NUM:	<class 'numpy.int64'>
Flight Number

5245

---------------------------------------------------------------------------------------------------------------------------------------------------------------
ORIGIN_AIRPORT_ID:	<class 'numpy.int64'>
Origin Airport, Airport ID. An identification number assigned by US DOT to identify a unique airport.  Use this field for airport analysis across a range of years because an airport can change its airport code and airport codes can be reused.

13487

---------------------------------------------------------------------------------------------------------------------------------------------------------------
ORIGIN_AIRPORT_SEQ_ID:	<class 'numpy.int64'>
Origin Airport, Airport Sequence ID. An identification number assigned by US DOT to identify a unique airport at a given point of time.  Airport attributes, such as airport name or coordinates, may change over time.

1348702

---------------------------------------------------------------------------------------------------------------------------------------------------------------
ORIGIN_CITY_MARKET_ID:	<class 'numpy.int64'>
Origin Airport, City Market ID. City Market ID is an identification number assigned by US DOT to identify a city market.  Use this field to consolidate airports serving the same city market.

31650

---------------------------------------------------------------------------------------------------------------------------------------------------------------
ORIGIN:	<class 'str'>
Origin Airport

MSP

---------------------------------------------------------------------------------------------------------------------------------------------------------------
ORIGIN_CITY_NAME:	<class 'str'>
Origin Airport, City Name

Minneapolis, MN

---------------------------------------------------------------------------------------------------------------------------------------------------------------
ORIGIN_STATE_ABR:	<class 'str'>
Origin Airport, State Code

MN

---------------------------------------------------------------------------------------------------------------------------------------------------------------
DEST_AIRPORT_ID:	<class 'numpy.int64'>
Destination Airport, Airport ID. An identification number assigned by US DOT to identify a unique airport.  Use this field for airport analysis across a range of years because an airport can change its airport code and airport codes can be reused.

11193

---------------------------------------------------------------------------------------------------------------------------------------------------------------
DEST_AIRPORT_SEQ_ID:	<class 'numpy.int64'>
Destination Airport, Airport Sequence ID. An identification number assigned by US DOT to identify a unique airport at a given point of time.  Airport attributes, such as airport name or coordinates, may change over time.

1119302

---------------------------------------------------------------------------------------------------------------------------------------------------------------
DEST_CITY_MARKET_ID:	<class 'numpy.int64'>
Destination Airport, City Market ID. City Market ID is an identification number assigned by US DOT to identify a city market.  Use this field to consolidate airports serving the same city market.

33105

---------------------------------------------------------------------------------------------------------------------------------------------------------------
DEST:	<class 'str'>
Destination Airport

CVG

---------------------------------------------------------------------------------------------------------------------------------------------------------------
DEST_CITY_NAME:	<class 'str'>
Destination Airport, City Name

Cincinnati, OH

---------------------------------------------------------------------------------------------------------------------------------------------------------------
DEST_STATE_ABR:	<class 'str'>
Destination Airport, State Code

KY

---------------------------------------------------------------------------------------------------------------------------------------------------------------
DEST_STATE_FIPS:	<class 'numpy.int64'>
Destination Airport, State Fips

21

---------------------------------------------------------------------------------------------------------------------------------------------------------------
DEST_STATE_NM:	<class 'str'>
Destination Airport, State Name

Kentucky

---------------------------------------------------------------------------------------------------------------------------------------------------------------
DEST_WAC:	<class 'numpy.int64'>
Destination Airport, World Area Code

52

---------------------------------------------------------------------------------------------------------------------------------------------------------------
CRS_DEP_TIME:	<class 'numpy.int64'>
CRS Departure Time (local time: hhmm)

1556

---------------------------------------------------------------------------------------------------------------------------------------------------------------
DEP_TIME:	<class 'numpy.float64'>
Actual Departure Time (local time: hhmm)

1546.0

---------------------------------------------------------------------------------------------------------------------------------------------------------------
DEP_DELAY:	<class 'numpy.float64'>
Difference in minutes between scheduled and actual departure time. Early departures show negative numbers.

-10.0

---------------------------------------------------------------------------------------------------------------------------------------------------------------
DEP_DELAY_NEW:	<class 'numpy.float64'>
Difference in minutes between scheduled and actual departure time. Early departures set to 0.

0.0

---------------------------------------------------------------------------------------------------------------------------------------------------------------
DEP_DEL15:	<class 'numpy.float64'>
Departure Delay Indicator, 15 Minutes or More (1=Yes)

0.0

---------------------------------------------------------------------------------------------------------------------------------------------------------------
TAXI_OUT:	<class 'numpy.float64'>
Taxi Out Time, in Minutes

14.0

---------------------------------------------------------------------------------------------------------------------------------------------------------------
WHEELS_OFF:	<class 'numpy.float64'>
Wheels Off Time (local time: hhmm)

1600.0

---------------------------------------------------------------------------------------------------------------------------------------------------------------
WHEELS_ON:	<class 'numpy.float64'>
Wheels On Time (local time: hhmm)

1827.0

---------------------------------------------------------------------------------------------------------------------------------------------------------------
TAXI_IN:	<class 'numpy.float64'>
Taxi In Time, in Minutes

5.0

---------------------------------------------------------------------------------------------------------------------------------------------------------------
CANCELLED:	<class 'numpy.float64'>
Cancelled Flight Indicator (1=Yes)

0.0

---------------------------------------------------------------------------------------------------------------------------------------------------------------
CANCELLATION_CODE:	<class 'float'>
Specifies The Reason For Cancellation

nan

---------------------------------------------------------------------------------------------------------------------------------------------------------------
DIVERTED:	<class 'numpy.float64'>
Diverted Flight Indicator (1=Yes)

0.0

---------------------------------------------------------------------------------------------------------------------------------------------------------------
FLIGHTS:	<class 'numpy.float64'>
Number of Flights

1.0

---------------------------------------------------------------------------------------------------------------------------------------------------------------
DISTANCE:	<class 'numpy.float64'>
Distance between airports (miles)

596.0

---------------------------------------------------------------------------------------------------------------------------------------------------------------
CARRIER_DELAY:	<class 'numpy.float64'>
Carrier Delay, in Minutes

nan

---------------------------------------------------------------------------------------------------------------------------------------------------------------
WEATHER_DELAY:	<class 'numpy.float64'>
Weather Delay, in Minutes

nan

---------------------------------------------------------------------------------------------------------------------------------------------------------------
NAS_DELAY:	<class 'numpy.float64'>
National Air System Delay, in Minutes

nan

---------------------------------------------------------------------------------------------------------------------------------------------------------------
SECURITY_DELAY:	<class 'numpy.float64'>
Security Delay, in Minutes

nan

---------------------------------------------------------------------------------------------------------------------------------------------------------------
LATE_AIRCRAFT_DELAY:	<class 'numpy.float64'>
Late Aircraft Delay, in Minutes

nan

---------------------------------------------------------------------------------------------------------------------------------------------------------------
DIV_AIRPORT_LANDINGS:	<class 'numpy.int64'>
Number of Diverted Airport Landings

0

---------------------------------------------------------------------------------------------------------------------------------------------------------------
DIV_ARR_DELAY:	<class 'numpy.float64'>
Difference in minutes between scheduled and actual arrival time for a diverted flight reaching scheduled destination.  The ArrDelay column remains NULL for all diverted flights.

nan

---------------------------------------------------------------------------------------------------------------------------------------------------------------
DIV_DISTANCE:	<class 'numpy.float64'>
Distance between scheduled destination and final diverted airport (miles).  Value will be 0 for diverted flight reaching scheduled destination.

nan

---------------------------------------------------------------------------------------------------------------------------------------------------------------
DUP:	<class 'str'>
Duplicate flag marked Y if the flight is swapped based on Form-3A data

N

---------------------------------------------------------------------------------------------------------------------------------------------------------------

In [9]:
data.head()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,MKT_UNIQUE_CARRIER,MKT_CARRIER_AIRLINE_ID,MKT_CARRIER_FL_NUM,OP_UNIQUE_CARRIER,TAIL_NUM,...,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DIV_AIRPORT_LANDINGS,DIV_ARR_DELAY,DIV_DISTANCE,Unnamed: 49
0,2019,1,19,6,2019-01-19,DL,19790,5245,9E,N176PQ,...,596.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
1,2019,1,20,7,2019-01-20,DL,19790,5245,9E,N309PQ,...,596.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
2,2019,1,21,1,2019-01-21,DL,19790,5245,9E,N176PQ,...,596.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
3,2019,1,22,2,2019-01-22,DL,19790,5245,9E,N135EV,...,596.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN
4,2019,1,23,3,2019-01-23,DL,19790,5245,9E,N294PQ,...,596.0,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN

In [10]:
data.describe()

,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,MKT_CARRIER_AIRLINE_ID,MKT_CARRIER_FL_NUM,OP_CARRIER_FL_NUM,ORIGIN_AIRPORT_ID,ORIGIN_AIRPORT_SEQ_ID,ORIGIN_CITY_MARKET_ID,...,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,DIV_AIRPORT_LANDINGS,DIV_ARR_DELAY,DIV_DISTANCE,Unnamed: 49
count,638649.0,638649.0,638649.000000,638649.000000,638649.000000,638649.000000,638649.000000,638649.000000,6.386490e+05,638649.000000,...,638649.000000,117144.000000,117144.000000,117144.000000,117144.000000,117144.000000,638649.000000,1061.000000,1450.000000,0.0
mean,2019.0,1.0,15.955094,3.836976,19822.089542,2700.769462,2700.871319,12690.345843,1.269038e+06,31776.883607,...,765.250902,20.088609,4.410785,18.384826,0.073422,25.880882,0.004459,305.625825,58.320000,NaN
std,0.0,0.0,8.989170,1.921977,261.399496,1861.613306,1861.933516,1520.775468,1.520773e+05,1316.122179,...,579.910495,65.596080,38.353695,41.352734,3.051185,53.007365,0.147790,281.088367,185.652297,NaN
min,2019.0,1.0,1.000000,1.000000,19393.000000,1.000000,1.000000,10135.000000,1.013505e+06,30070.000000,...,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,24.000000,0.000000,NaN
25%,2019.0,1.0,8.000000,2.000000,19790.000000,1090.000000,1090.000000,11292.000000,1.129202e+06,30721.000000,...,337.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,133.000000,0.000000,NaN
50%,2019.0,1.0,16.000000,4.000000,19805.000000,2260.000000,2260.000000,12889.000000,1.288903e+06,31453.000000,...,604.000000,0.000000,0.000000,5.000000,0.000000,0.000000,0.000000,189.000000,0.000000,NaN
75%,2019.0,1.0,24.000000,5.000000,19977.000000,4184.000000,4183.000000,14057.000000,1.405702e+06,32575.000000,...,1008.000000,16.000000,0.000000,21.000000,0.000000,30.000000,0.000000,332.000000,30.000000,NaN
max,2019.0,1.0,31.000000,7.000000,20436.000000,9401.000000,9401.000000,16218.000000,1.621802e+06,36101.000000,...,4983.000000,1638.000000,1416.000000,1447.000000,816.000000,1514.000000,9.000000,1557.000000,2586.000000,NaN

In [24]:
data['FL_DATE'].min()

'2019-01-01'

In [25]:
data['FL_DATE'].max()

'2019-01-31'

### So this is a dataset from January of this year

In [80]:
data['DAY_OF_WEEK'].value_counts()

4    108610
3    105987
2    101469
5     87120
1     86716
7     80344
6     68403
Name: DAY_OF_WEEK, dtype: int64

In [83]:
data['DAY_OF_WEEK'].value_counts().sort_values()

6     68403
7     80344
1     86716
5     87120
2    101469
3    105987
4    108610
Name: DAY_OF_WEEK, dtype: int64

In [26]:
data['MKT_UNIQUE_CARRIER'].min()

'AA'

In [14]:
cols = list(data.columns)

In [17]:
cols

['YEAR',
 'MONTH',
 'DAY_OF_MONTH',
 'DAY_OF_WEEK',
 'FL_DATE',
 'MKT_UNIQUE_CARRIER',
 'MKT_CARRIER_AIRLINE_ID',
 'MKT_CARRIER_FL_NUM',
 'OP_UNIQUE_CARRIER',
 'TAIL_NUM',
 'OP_CARRIER_FL_NUM',
 'ORIGIN_AIRPORT_ID',
 'ORIGIN_AIRPORT_SEQ_ID',
 'ORIGIN_CITY_MARKET_ID',
 'ORIGIN',
 'ORIGIN_CITY_NAME',
 'ORIGIN_STATE_ABR',
 'DEST_AIRPORT_ID',
 'DEST_AIRPORT_SEQ_ID',
 'DEST_CITY_MARKET_ID',
 'DEST',
 'DEST_CITY_NAME',
 'DEST_STATE_ABR',
 'DEST_STATE_FIPS',
 'DEST_STATE_NM',
 'DEST_WAC',
 'CRS_DEP_TIME',
 'DEP_TIME',
 'DEP_DELAY',
 'DEP_DELAY_NEW',
 'DEP_DEL15',
 'TAXI_OUT',
 'WHEELS_OFF',
 'WHEELS_ON',
 'TAXI_IN',
 'CANCELLED',
 'CANCELLATION_CODE',
 'DIVERTED',
 'DUP',
 'FLIGHTS',
 'DISTANCE',
 'CARRIER_DELAY',
 'WEATHER_DELAY',
 'NAS_DELAY',
 'SECURITY_DELAY',
 'LATE_AIRCRAFT_DELAY',
 'DIV_AIRPORT_LANDINGS',
 'DIV_ARR_DELAY',
 'DIV_DISTANCE',
 'Unnamed: 49']